html, body {
  margin:0;
  padding:0;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.wrapper {
  width: 100vw;
  margin: 5px;
  justify-content: center;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.description {
  height: 100%;
  transform: translate(0, 10%);
}

.description-wrapper {
  display: flex;
  width: 300px;
  margin: 16px 0;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}
